body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 2em;
    margin-right: 2em;
}

label {
    float: left;
    width: 12em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
}
h1{
    text-align: center;
}

h2{
    text-align:right;
}

#title{
    font-size: 25px;
}

#footer {   
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   font-size: 15px;
   text-align: center;
}

#posts{
    text-align: left;
    margin-left: 80px;
}

#search{
    text-align: right;
}

#login{
    
}

.left-div {
    float: left;
    width: 100px;
    height: 20px;
    margin-right: 8px;
    
}
.right-div {
    margin-left: 108px;
    
}